.profileContainer{
	background-color: gainsboro;
	height: 1000px;
}

.upperButtons{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 10px; 	
}

.editProfile{
	border-radius: 8px;
	position: absolute;
	margin-left: 15px;
}

#settings svg{
	color: #808080;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 25px;
}

#settings svg:hover { color: #686868; }

.userInfo{
	position: static;
	margin-top: 35px; 
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.userAvatar img{
	max-width: 40%;
    height: auto;
    object-fit: contain; 
    border-radius: 50%;
}

